@model PaginatedList<PendingReport> 

@{
    ViewData["Title"] = "Home Page";

    string userid = (string)ViewData["UserId"];
    string currentSort  = (string)ViewData["CurrentSort"];
    string sortReportNo = (currentSort == "reportno")      ? "reportno desc"     : "reportno";
    string sortAuthor   = (currentSort == "author")        ? "author desc"       : "author";
    string sortTitle    = (currentSort == "title")         ? "title desc"        : "title";
    string sortDate     = (currentSort == "creationdate")  ? "creationdate desc" : "creationdate";

    string filter       = (string)ViewData["CurrentFilter"];
    string mode         = (filter.Left(6) == "unsent") ? "send" : "normal";


    string previous = (Model.HasPreviousPage) ? "/?sortOrder=" + currentSort + "&pageNumber=" + (Model.PageIndex - 1).ToString() + "&currentFilter=" + filter : null; 
    string next     = (Model.HasNextPage)     ? "/?sortOrder=" + currentSort + "&pageNumber=" + (Model.PageIndex + 1).ToString() + "&currentFilter=" + filter : null; 

}

<span class="MediumHeader">Reports Pending</span>&nbsp;
<div class="HighlightHeader">Search Pending List</div>
<div class="Indent">
    <form method="post" asp-controller="Home" asp-action="Search" onsubmit="return validateSearch()">
        <select id="Company"    name="Company"   ></select>
        <select id="Year"       name="Year"      ></select>
        <input  id="Code"       name="Code"  />
        <input  id="Number"     name="Number"/>
        <select id="ReportType" name="ReportType"></select>&nbsp;
        <button type="submit" id="btnSearch" class="FormButton">Search</button>
    </form>
</div>

<table class="HighlightOptions">
    <tr>
        <td>
            <a href="/?sortOrder=creationdate desc&pageNumber=1&currentFilter=uncommitted-@userid">My Reports</a>&nbsp;&nbsp;
            <a href="/?sortOrder=creationdate desc&pageNumber=1&currentFilter=uncommitted"        >All Reports</a>&nbsp;&nbsp;
            <a href="/?sortOrder=creationdate desc&pageNumber=1&currentFilter=committed"          >All Committed Reports</a>&nbsp;&nbsp;            
            <a href="/?sortOrder=creationdate desc&pageNumber=1&currentFilter=unsent-@userid"     >My UnSent Reports</a>&nbsp;&nbsp;            
            <a href="/?sortOrder=creationdate desc&pageNumber=1&currentFilter=sent"               >All Sent Reports</a>
        </td>
        <td align="right">
@if (mode == "send") 
{ 
            <button type="button" id="btnSendAll" class="WideButton" title="Distribute (email) all the reports you have committed" onclick="window.location.href='/Report/SendAll'">Send All</button>
}
else
{
            <button type="button" id="btnCreate" class="WideButton" title="Create a new report" onclick="window.location.href='/Report/Create'">Create Report</button>
}                                           
        </td>
    </tr>
</table>

<div class="Pager">
    @if (next.HasValue() || previous.HasValue())
    {                                            
        @if (previous.HasValue()) { <a href="@previous">&lt;&nbsp;Previous</a>    }
        else                      {               <span>&lt;&nbsp;Previous</span> }
        <span>&nbsp;</span>
        @if (next.HasValue())     { <a href="@next"   >Next&nbsp;&gt;</a>         }
        else                      {              <span>Next&nbsp;&gt;</span>      }
    }                                            
</div>                                    

<table class="StripedTable">
    <thead>                                    
        <tr>
            <th style="width:13%;"><a asp-action="Index" asp-route-sortOrder="@sortReportNo" asp-route-currentFilter="@filter">Report No</a></th>
            <th style="width:17%;"><a asp-action="Index" asp-route-sortOrder="@sortAuthor"   asp-route-currentFilter="@filter">Author</a></th>
            <th>                   <a asp-action="Index" asp-route-sortOrder="@sortTitle"    asp-route-currentFilter="@filter">Title</a></th>
            <th style="width:7%;" ><a asp-action="Index" asp-route-sortOrder="@sortDate"     asp-route-currentFilter="@filter">Date</a></th>
            <th style="width:3%;">&nbsp;</th>
            <th style="width:3%;">&nbsp;</th>                                        
        </tr>
    </thead>
    <tbody>
@{string rowclass = "Stripe";}
@foreach (var item in Model) {
    rowclass = (rowclass == "Stripe") ? "NoStripe" : "Stripe";
    string authTrunc = item.Author.IsNull("").Trim().Length >= 25 ? (item.Author.Trim().Substring(0,25) + "...") : item.Author.IsNull("").Trim();
    string title     = item.Title.Left(150);
    string date      = item.CreationDate.ToDateString();
        <tr class="@rowclass"> 
            <td>@Html.DisplayFor(modelItem => item.FullReportNo)</td>
            <td>@authTrunc</td>
            <td>@title</td>
            <td>@date</td>
@if (item.State == 0) 
{                                        
            <td><a asp-controller="Report" asp-action="Edit"    asp-route-id="@item.Id">Edit</a></td>
            <td><a href="javascript:void();" onclick="reportDelete(@item.Id)">Del</a></td>
}
else if (item.State == 1 && item.CID > 0)
{
            <td><a asp-controller="Report" asp-action="Edit"    asp-route-id="@item.Id">View</a></td>
            <td><a asp-controller="Report" asp-action="Send"    asp-route-id="@item.Id">Send</a></td>
} 
else 
{
            <td><a asp-controller="Report" asp-action="Edit"    asp-route-id="@item.Id">View</a></td>
            <td>&nbsp;</td>
}
        </tr>
}                                   
    </tbody>                              
</table>

<div class="Pager">
    @if (next.HasValue() || previous.HasValue())
    {                                            
        @if (previous.HasValue()) { <a href="@previous">&lt;&nbsp;Previous</a>    }
        else                      {               <span>&lt;&nbsp;Previous</span> }
        <span>&nbsp;</span>
        @if (next.HasValue())     { <a href="@next"   >Next&nbsp;&gt;</a>         }
        else                      {              <span>Next&nbsp;&gt;</span>      }
    }                                            
</div>                                    

@section scripts {
     <script type="text/javascript">
        $(document).ready(function () { getStandingData(displayHomeIndex, "@filter"); detectExploder(); }); 
    </script>
}