<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report Distribution - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Uniper.css" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css"   type="text/css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
</head>
<body>
    <header>
        <div id="branding"><h1>UTG Report Distribution</h1></div>
        <nav>
            <ul>
                <li><a asp-controller="Home"      asp-action="Index"   >Home</a></li>
                <li><a asp-controller="Recipient" asp-action="ShowGrid">Recipients</a></li>
            </ul>
        </nav>
     </header>
    <div class="container">@RenderBody()</div>
    <footer>
        <div class="Left" >@ViewData["AppVersion"]</div>
        <div class="Right">@ViewData["UserName"]</div>
    </footer>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    -->
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>