@model PendingReportViewModel

@{
    ViewData["Title"] = "Edit Pending Report";
	string commiterror = (string)ViewData["CommitError"] ?? ""; 
	string uploadmax   = (string)ViewData["UploadMax"] ?? "12Mb";  
}

<div class="MediumPage">
	<form method="post" id="EditReport">
		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="State" />
        <span class="MediumHeader"   >Add / Amend Report</span>
		<div  class="HighlightHeader">@Html.DisplayFor(model => model.FullReportNo)</div>
		<div class="Indent">
            <table class="Grid">
				<tr>
					<td width="120px"><label>Report No</label></td>
					<td width="250px">@Html.DisplayFor(model => model.ReportNo)<select asp-for="ReportType" asp-items="Model.ReportTypes"></select></td>
					<td width="90px" ><label>Security</label></td>
					<td width="270px"><select asp-for="SecurityLevel" asp-items="Model.SecurityLevels"></select></td>
				</tr>
				<tr>
					<td class="LabelTop"><label>Title</label></td>
					<td colspan="3"><textarea asp-for="Title" class="TextAreaShallow" MaxLength="1500"></textarea><span asp-validation-for="Title"></span></td>
				</tr>
                <tr>
					<td><label>Access Code</label></td>
					<td><input asp-for="Axess" ReadOnly="True" /><span asp-validation-for="Axess"></span></td>
                    <td>
                        &nbsp;<button type="button" id="btnAxessNONE" class="NarrowButton" title="NONE" onclick="setAxessNone();">N</button>
						&nbsp;<button type="button" id="btnAxessALL"  class="NarrowButton" title="ALL"  onclick="setAxessAll();" >A</button>
                    </td>
					<td><select id="AccessCode" class="Field" onclick="setAxess();"></select></td>
                </tr>
				<tr>
					<td><label>Authors</label></td>
					<td colspan="3"><input asp-for="Author" class="FieldWide" MaxLength="500" /><span asp-validation-for="Author"></span></td>								
				</tr>
				<tr>
					<td><label>Job Number(s)</label></td>
					<td><input asp-for="JobNo" MaxLength="55" /><span asp-validation-for="JobNo"></span></td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td class="LabelTop"><label>Software</label></td>
					<td colspan="3"><textarea asp-for="Software" class="TextAreaShallow" MaxLength="155"></textarea><span asp-validation-for="Software"></span></td>
				</tr>
				<tr>
					<td class="LabelTop"><label>Summary</label></td>
					<td colspan="3"><textarea asp-for="Abstract" class="TextAreaDeep" MaxLength="3000"></textarea><span asp-validation-for="Abstract"></span></td>
				</tr>							
				<tr>
					<td colspan="4">
						<div class="FormButtons">
                       		<button type="submit" id="btnSave"   class="FormButton" title="Save changes and return to Pending Reports List"                                                                >Save</button>&nbsp;&nbsp;
                      		<button type="button" id="btnCancel" class="FormButton" title="Undo changes on this page."                        onclick="window.location.href='/Report/Edit/'+$('#Id').val()">Undo</button>&nbsp;&nbsp;
							<button type="button" id="btnReturn" class="FormButton" title="Ignore changes and return to Pending Reports List" onclick="window.location.href='/'"                           >Return</button>
						</div>
					</td>
				</tr>
			</table>
		</div>	
        <br />
		<table class="Grid">
			<tr>
				<td width="300px">
					<span class="MediumHeader">Upload File</span>
					<div  class="Indent">
						<button type="submit" id="btnUpload"  class="FormButton" formaction="/Report/DocUpload">Upload</button>&nbsp;&nbsp;
@if(Model.eFileName != null) 
{
						<button type="button" id="btnViewPDF" class="FormButton" onclick="window.open('/Report/DocView/'+$('#Id').val(), 'View Document', 'fullscreen=yes,location=no,menubar=no,scrollbars=yes,status=no,toolbar=no');">View</button>
}												
					</div>
				</td>
				<td>
					<span class="MediumHeader">Circulation List</span>&nbsp;<span class="MediumHeader">@ViewData["RecipientMessage"]</span>
					<div  class="Indent">
						<button type="submit" id="btnCircList" class="WideButton" formaction="/Report/CirculationEdit">Edit List</button>&nbsp;
						<!--<input type="submit" id="btnPrintCovers" class="WideButton" CausesValidation="False" title="Print List" Visible="False" />-->
					</div>
				</td>
			</tr>
		</table>
        <br />
		<div id="spCommit">
			<span class="MediumHeader">Commit Report</span>
			<div  class="HighlightHeader">Please check that all entries on this page are correct, and that the correct file has been uploaded.</div>
			<div  class="Indent">
@if(Model.eFileName == null) 
{										
                <input type="checkbox" id="chkQAConfirm2" onclick="onCheck();" title="Nothing Uploaded - check to confirm report is bigger than @uploadmax." /><span>&nbsp;Nothing Uploaded - check to confirm report is bigger than @uploadmax.</span>
}
else											
{
                <input type="checkbox" id="chkQAConfirm"  onclick="onCheck();" title="Please check to confirm you have a signed original copy in front of you."/><span>&nbsp;Please check to confirm you have a signed original copy in front of you.</span>
}
			</div>								
			<div class="Indent">
				<button type="submit" id="btnCommit" class="WideButton" style="display:none " formaction="/Report/Commit">Commit</button>
				<div id="CannotCommit" style="display:none;color:red;">Cannot commit because Author, Title, Access Code or Summary has been left empty.</div>
@if(commiterror.Length >0)
{
				<div id="CommitError" style="color:red;">@commiterror</div>	
}										
			</div>
		</div>
	</form>
</div>

@section scripts {
     <script type="text/javascript">
        getStandingData(displayReportEdit, "");
		readOnlyEditReport();
    </script>
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
